/**
 * Normalize for Bootstrap
 */

html,body {
  height: 100%; margin: 0px; padding: 0px; }

#navbar {
  margin-bottom:0; }

.alert {
  border-radius: 0; }

.container {
  width:100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto; }

.col,
.col-1,.col-xs-1, .col-sm-1, .col-md-1, .col-sm-1,
.col-2,.col-xs-2, .col-sm-2, .col-md-2, .col-sm-2,
.col-3,.col-xs-3, .col-sm-3, .col-md-3, .col-sm-3,
.col-4,.col-xs-4, .col-sm-4, .col-md-4, .col-sm-4,
.col-5,.col-xs-5, .col-sm-5, .col-md-5, .col-sm-5,
.col-6,.col-xs-6, .col-sm-6, .col-md-6, .col-sm-6,
.col-7,.col-xs-7, .col-sm-7, .col-md-7, .col-sm-7,
.col-8,.col-xs-8, .col-sm-8, .col-md-8, .col-sm-8,
.col-9,.col-xs-9, .col-sm-9, .col-md-9, .col-sm-9,
.col-10,.col-xs-10, .col-sm-10, .col-md-10, .col-sm-10,
.col-11,.col-xs-11, .col-sm-11, .col-md-11, .col-sm-11,
.col-12,.col-xs-12, .col-sm-12, .col-md-12, .col-sm-12 {
  position: relative;
  height:100%;
  min-height: 1px;
  padding-right: 0;
  padding-left: 0; }

.row {
  margin-right: 0;
  margin-left: 0; }

.footer {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-top: none; }

.panel {
  border:none; }

/**
 * Color Guide *

 teal -- #00b8b8
 dark teal -- #027d7d
 hot pink -- #de3d83
 yellow -- #e4bd0b
 purple -- #9d4eb6
 green -- #5da87b
 grey -- #a5a5a5
*/

/**
 * Normalize
 */

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    transition: color 0.2s;
    -webkit-transition: color 0.2s;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

b,
strong {
    font-weight: 700;
}

img {
    border: 0;
}

figure {
    margin: 0;
}

address {
  margin: 0;
}


/**
 * Typography   body, button, input, h1-h6, p, ul, strong etc..
 */

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-logo {
  color: #000;
  font-size: 28px;
  line-height: 40px; /* vert center */
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 4px; /* TODO: Adjust/delte depending on font. */
}

.header-logo:hover {
  color: inherit;
  text-decoration: none;
}

nav a {
  padding: 0px 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 15px;
  line-height: 40px;  /* vert center */
  font-weight: 400;
  color: #a3a3a3;
}

h2 { /* TODO: Make sure it fit into your typescale. Applied index-main so far. */
  font-size: 34px;
  line-height: 44px;
  font-weight: 300;
  color: #555555;
  margin: 70px 0 42px;
}

h4 {   /* TODO: Make sure it fit into your typescale. Applied in Footer so far. */
  font-size: 12px;
  color: #444444;
  margin: 56px 0px 21px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}

address,
.footer-copyright {
  font-size: 12px;
  color: #0a0a0a;
  font-style: normal;
  line-height: 17px;
  font-weight: 400;
}


 /**
  * Global Styles   .main-content-wrapper, p, a, a:visited, button
 */
.container {
  max-width: 1400px;
  margin: 0px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15); /* TODO: Possibly fix shadow so it won't show on bottom. */
}

.container-margin {
  width: 92%;
  margin: 0 auto;
}

/* =====================================
  MODULE/TEMPLATE STYLES   new section for e.g.'Header Styles', 'Footer Styles', 'Any-Page-Or-Section-Thats-Duplicated' etc.
===================================== */

/**
 * Header Styles   .header, .logo, .main-naviagtion etc.
*/
.header-margin {
  height: 134px;
}

header {
  height: 133px;
  margin: 0px;

  position: fixed;
  width: 1400px;
  top: 0;
  max-width: 100%;
  background-color: #fff;
  z-index: 10;
}

nav {
  float: right;
}

.header-row {
  height: 40px;
  padding-top: 63px;
}

nav a:hover {
  color: #565656;
}

/**
 * Footer Styles   .footer, footer-navigation, .copyright etc
*/

footer {
  background-color: #fcfcfc;
  height: 330px;
  overflow: hidden; /* prevent margin collapse */
}

.footer-row {
  margin-top: 105px;
}

.footer-copyright {
  height: 30px; /** vert center **/
  line-height: 30px; /** vert center **/
}

.footer-social {
  height: 30px; /** vert center **/
  line-height: 30px; /** vert center **/
}

.fa-twitter,
.fa-facebook-f {
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  color: #0a0a0a;
}

.fa-twitter {
  padding-right: 14px;
}

.fa-twitter:hover,
.fa-facebook-f:hover {
  color: #fff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
}

/* =====================================
  PAGE STYLES   e.g. If we have Aerobics classes. Styles for the Classes.
===================================== */

/**
*  Landing Styles
*/

.landing-hero {
  position: relative;
  width: 100%;
  height: 700px;
}

.landing-imgWrap {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  /* Start Animation */
  opacity: 0;
  animation-name: changeImg;
  animation-duration: 25.2s;
  animation-iteration-count: infinite;
}

.landing-imgWrap1 {
  background-image: url(../img/hero-gallery1.jpg);
}

.landing-imgWrap2 {
  background-image: url(../img/hero-gallery2.jpg);
  animation-delay: 4.2s;
}

.landing-imgWrap3 {
  background-image: url(../img/hero-gallery3.jpg);
  animation-delay: 8.4s;
}

.landing-imgWrap4 {
  background-image: url(../img/hero-gallery4.jpg);
  animation-delay: 12.6s;
}

.landing-imgWrap5 {
  background-image: url(../img/hero-gallery5.jpg);
  animation-delay: 16.8s;
}

.landing-imgWrap6 {
  background-image: url(../img/hero-gallery6.jpg);
  animation-delay: 21s;
}

@keyframes changeImg {
  0% {opacity: 0;}
  2.8% {opacity: 1;}
  16.7% {opacity: 1;}
  19.5% {opacity: 0;}
  100% {opacity: 0;}
} /* End Animation */

.landing-main {
  text-align: center;
}

.landing-a:hover {
  color: #414141;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
}

/**
*  Works Styles
*/

.works-intro-container {
  height: 450px;
  margin-top: 40px;
}

.works-intro-text-container {
  position: relative; /* Vert center */
}

.works-intro-text-wrap {
  padding-right: 4.2%;
  text-align: center;
  width: 100%;
  /* Vert center */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.works-intro-text-wrap h1 {
  padding: 0px; /* TODO: Include in reset not here. */
  margin: 0px; /* TODO: Include in reset not here. */
  font-weight: 300;
  color: #444;
  letter-spacing: 0px;
  -webkit-font-smoothing: antialiased;
  font-size: 54px;
  line-height: 62px;
  text-transform: uppercase;
}

.works-intro-img-container {
  position: relative;
  text-align: center;
}

.works-intro-img-wrap {
  width: 100%;
}

.works-main-text-wrap {
  margin-right: 66px;
}

.works-main-text-wrap p { /* TODO: Move to global styles? */
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #444;
  letter-spacing: 0px;
  padding-top: 22.5px;
}

.works-main-gallery-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.works-main-img-wrap {
  width: 22.3529%;
  padding-top: 22.3529%;  /* Trick to have 1:1 Aspect Ratio */

  margin: 22.5px 0px;

  background-position: center;
  background-size: cover;

  border: 1px solid skyblue;
}
