/**
 * Normalize for Bootstrap
 */

html,body {
  height: 100%; margin: 0px; padding: 0px; }

#navbar {
  margin-bottom:0; }

.alert {
  border-radius: 0; }

.container {
  width:100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto; }

.col,
.col-1,.col-xs-1, .col-sm-1, .col-md-1, .col-sm-1,
.col-2,.col-xs-2, .col-sm-2, .col-md-2, .col-sm-2,
.col-3,.col-xs-3, .col-sm-3, .col-md-3, .col-sm-3,
.col-4,.col-xs-4, .col-sm-4, .col-md-4, .col-sm-4,
.col-5,.col-xs-5, .col-sm-5, .col-md-5, .col-sm-5,
.col-6,.col-xs-6, .col-sm-6, .col-md-6, .col-sm-6,
.col-7,.col-xs-7, .col-sm-7, .col-md-7, .col-sm-7,
.col-8,.col-xs-8, .col-sm-8, .col-md-8, .col-sm-8,
.col-9,.col-xs-9, .col-sm-9, .col-md-9, .col-sm-9,
.col-10,.col-xs-10, .col-sm-10, .col-md-10, .col-sm-10,
.col-11,.col-xs-11, .col-sm-11, .col-md-11, .col-sm-11,
.col-12,.col-xs-12, .col-sm-12, .col-md-12, .col-sm-12 {
  position: relative;
  height:100%;
  min-height: 1px;
  padding-right: 0;
  padding-left: 0; }

.row {
  margin-right: 0;
  margin-left: 0; }

.footer {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-top: none; }

.panel {
  border:none; }

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}

/* Override bootstraps large breakpoint @ 992px with breakpoint @ 1000px. */
@media (min-width: 992px) and (max-width: 1000px) {
  .col-lg-4 {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
}

/**
 * Color Guide *

 teal -- #00b8b8
 dark teal -- #027d7d
 hot pink -- #de3d83
 yellow -- #e4bd0b
 purple -- #9d4eb6
 green -- #5da87b
 grey -- #a5a5a5
*/

/**
 * Normalize
 */

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

b,
strong {
    font-weight: 700;
}

img {
    width: 100%;
    display: block;
    border: 0;
}

figure {
    margin: 0;
}

address {
  margin: 0;
}


/**
 * Typography   body, button, input, h1-h6, p, ul, strong etc..
 */

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #676767; /* TODO: Verify */
}

a {
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
}

.header-logo {
  color: #000;
  font-size: 28px;
  line-height: 60px; /* TODO: Adjust for final font. */
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 4px; /* TODO: Adjust/delte depending on font. */
}

.header-logo:hover {
  color: inherit;
  text-decoration: none;
}

nav a {
  padding: 0px 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 15px;
  font-weight: 400;
  color: #a3a3a3 !important;
}

h1 {
  padding: 0px; /* TODO: Include in reset not here. */
  margin: 0px; /* TODO: Include in reset not here. */
  font-weight: 300;
  color: #444;
  letter-spacing: 0px;
  -webkit-font-smoothing: antialiased;
  font-size: 54px;
  line-height: 62px;
  text-transform: uppercase;
}

@media (max-width: 1300px) and (min-width: 1000px) {
  h1 {
    font-size: 40.5px;
    line-height: 45px;
  }
}

@media (max-width: 1000px) and (min-width: 690px) {
  h1 {
    font-size: 37.8px;
    line-height: 42px;
  }
}

@media (max-width: 690px) {
  h1 {
    font-size: 35.1px;
    line-height: 39px;
  }
}

h2 { /* TODO: Make sure it fit into your typescale. Applied index-main so far. */
  font-size: 34px;
  line-height: 44px;
  font-weight: 300;
  color: #555555;
}

@media (max-width: 1300px) and (min-width: 1000px) {
  h2 {
    font-size: 28.9px;
    line-height: 35.7px;
  }
}

@media (max-width: 1000px) and (min-width: 690px) {
  h2 {
    font-size: 27.2px;
    line-height: 33.6px;
  }
}

@media (max-width: 690px) {
  h2 {
    font-size: 25.5px;
    line-height: 31.5px;
  }
}

h3 { /* TODO: Make sure it fit into your typescale. Exhibitions page w/1+ artist. */
  padding: 0px; /* TODO: Include in reset not here. */
  margin: 0px; /* TODO: Include in reset not here. */
  color: #444444;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
}

h4 {   /* TODO: Make sure it fit into your typescale. Applied in Footer so far. */
  font-size: 12px;
  color: #444444;
  margin: 0px 0px 21px;
  padding-top: 73px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}

address,
.footer-copyright {
  font-size: 12px;
  color: #0a0a0a;
  font-style: normal;
  line-height: 17px;
  font-weight: 400;
}


 /**
  * Global Styles   .main-content-wrapper, p, a, a:visited, button
 */

.container {
  margin: 0px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15); /* TODO: Possibly fix shadow so it won't show on bottom. */
}

@media (min-width: 1000px) {
  .container {
    max-width: 1400px;
    width: 90%;
    min-width: 980px;
  }
}

@media (max-width: 1000px) and (min-width: 690px) {
  .container {
    width: 679px;
  }
}

@media (max-width: 690px) {
  .container {
    width: 100%;
  }
}

.container-margin {
  /* width: 92%; */
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .container-margin {
    width: 92%;
  }
}

@media (max-width: 1000px) and (min-width: 690px) {
  .container-margin {
    max-width: 600px;
  }
}

@media (max-width: 690px) and (min-width: 480px) {
  .container-margin {
    max-width: 85%;
  }
}

.intro-container {
  margin-top: 40px;
}

@media (max-width: 1000px) {
  .intro-container {
    margin-top: 100px;
  }
}

.intro-text-container {
  position: relative; /* Vert center */
  height: auto;
}

.intro-text-wrap {
  padding-right: 4.2%;
  text-align: center;
  width: 100%;
  /* Vert center */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1000px) {
  .intro-text-wrap {
    padding: 0;
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    margin-bottom: 50px;

  }
}

.intro-text-wrap h4 { /* TODO: Sort conflict with other h4s. Also needs to be in Typography. */
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0px;
  color: #444;
  margin: 0px;
  padding-top: 18px;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.intro-text-wrap hr {  /* TODO: Move to Typography. */
    display: block;
    height: 1px;
    border: 0;
    border-top: 1.2px solid #444;
    margin: 1.1em auto;
    padding: 0;
    width: 35%;

}

.intro-text-wrap p { /* TODO: Sort conflict with other p's. Also needs to be in Typography. */
  font-size: 12px;
  line-height: 17px;
  color: #676767;
  text-align: justify;
  margin: 0px;
  padding-top: 18px;
}

.intro-img-container {
  position: relative;
  text-align: center;
}

.intro-img-wrap {
  width: 600px;
  height: 450px;
  margin: 0 auto;
}

.intro-img-wrap img {
  height: 100%;
  width: 100%;
}

.main-container {
  margin: 95px 0px 57px;
}

.main-text-wrap {
  margin-right: 70px;
}

.main-text-wrap p { /* TODO: Move to Typography. */
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #444;
  letter-spacing: 0px;
}

.gal-right-padding { /* TODO: Better naming?? */
  padding-right: 30px;
}

.gal-container p { /* TODO: Sort conflict with other p's. Also needs to be in Typography. */
  font-size: 12px;
  line-height: 17px;
  color: #676767;
  /* text-align: justify; */
  margin: 0px;
  padding: 8px 0px 30px;

}

.gal-wrap {
  margin: -15px;
}

.gal-item {
  position: relative;
  padding: 15px;
  margin-bottom: 15px;
}

/* start tricky part*/
.gal-img-container {
  position: relative;
  width: 100%;
}

.gal-img-container:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.gal-img-wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
} /* end tricky part*/

.gal-img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* TODO: No IE support. Blurry in Edge. Test w modernizer for object-fit, use JS if not supported. Use article found online.*/
}

/* TODO: needed? */
/* .gal-img-wrap a {
  background-color: transparent;
  text-decoration: none;
  width: 100%;
  height: 100%;
  position: absolute;
} */

.gal-txt-wrap {
  position: relative;
}

.gal-txt-wrap h4 { /* TODO: Sort conflict with other h4s. Also needs to be in Typography. */
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #444;
  margin: 0px;
  padding-top: 2px;
  text-transform: none;
}

.gal-txt-wrap p { /* TODO: Move to Typography. */
  color: #676767;
  font-weight: 300;
  font-size: 12px;
  line-height: 17px;
  margin: 0px;
  white-space: nowrap;
}

.gal-txt-wrap p a { /* TODO: Really needed? */
  color: #555555;
}

/* =====================================
  MODULE/TEMPLATE STYLES   new section for e.g.'Header Styles', 'Footer Styles', 'Any-Page-Or-Section-Thats-Duplicated' etc.
===================================== */

/**
 * Header Styles   .header, .logo, .main-naviagtion etc.
*/
.header-margin-top {
  height: 133px;
}

header {
  height: 133px;
  margin: 0px;

  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 20;
}

.header-row {
  /* height: 40px; */
  padding-top: 58px;
}

nav {
  float: right;
}

@media(max-width: 1250px) {
  nav ul {
    display: none;
  }
}

nav li {
  list-style-type: none;
  float: left;
}

nav li a {
  display: inline-block;
  padding: 14px 11px 39px;
}

.material-icons.nav-expand-more {
  position: relative;
  left: 2.5px;
  top: 1.5px;
  pointer-events: none; /* TODO: take out?? */
  font-size: 15px;
  line-height: 0;
  font-weight: 200;
}

nav a:hover {
  color: #565656 !important;
}

.js-nav-a-active {
  color: #565656 !important;
}

.burger-menu {
  width: 22px;
  height: 14px;
  position: relative;
  display: inline-block;
  border-top: 2px solid #a3a3a3;
  box-sizing: border-box;
}

.burger-menu:after, .burger-menu:before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #a3a3a3;
    position: absolute;
}

.burger-menu:after {
  bottom: 0;
  left: 0;
}

.burger-menu:before {
  top: 4px;
  left: 0;
}

@media(min-width: 1250px) {
  .burger-menu {
    display: none;
  }
}

.nav-sub-menu {
  /* width: 92%; */
  top: 133px; /* Set same as header height. */
  padding: 15px 0;
  position: absolute;
  text-align: center;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  background: #fff; /* TODO: take out */
}

.nav-sub-menu a {  /* TODO: Move to Typography? */
  display: block;
  padding: 9px 45px;
  margin: 7px 0;
  font-size: 14px; /* TODO: Change font size? */
  line-height: 13px;
  transition: none;
  letter-spacing: 0;
  color: #a5a5a5;
}

.nav-sub-menu a:hover {  /* TODO: Change styling? */
  color: #ccc;
  background-color: #272727;
}

.js-nav-sub-menu-active { /* TODO: Apply this class in html. */
  color: #0a0a0a !important;
  background-color: #272727 !important;
}

.js-hide { /* TODO: Add to global styles and implement it where ever display none is used w/JS. */
  display: none;
}

.mobNav-pageLayover {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 15;
  -webkit-transition: 700ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: 700ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  pointer-events: none;
}

.js-pageLayover-show { /* TODO: Make generic class? */
  background-color: rgba(0, 0, 0, 0.8);
}

.mobNav-container {
  width: 300px;
  height: 100%;
  padding: 33px;
  padding-top: 26px;
  position: fixed;
  right: 0;
  top: 0;
  box-sizing: border-box;
  overflow: hidden;
  background: #fff;
  z-index: 11;
  right: -300px;
  background: linear-gradient(145deg, #ffffff, #eaeaea);
  transition: 700ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.material-icons-round.nav-close-btn {
	color: #000;
  opacity: .9;
  font-size: 29px;
  font-weight: 100;
  top: 21px;
  right: 26px;
  position: absolute;
  transition: all 0.47s cubic-bezier(0.3, 1, 0.3, 0.95) 0s;
  -webkit-transition: all 0.47s cubic-bezier(0.3, 1, 0.3, 0.95) 0s;
  cursor: pointer;
  -webkit-text-stroke: 0.1px #fff; /* make icon-font thinner */
  z-index: 3;
}

.material-icons-round.nav-close-btn:hover {
  -webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.mobNav-slide {
  color: #000;
  overflow: visible;
  /* height: 100%; */ /* TODO: Needed? */
  width: 234px;
  position: absolute;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  z-index: 2;
  right: 33px;
}

.mobNav-slide a, .mobNav-prev {
  display: block;
  color: #000000;
  letter-spacing: -1px;
  font-weight: 700;
  line-height: 30px;
  font-size: 18px;
  font-family: 'Open Sans';
  -webkit-transition: opacity 0.2s ease, color 0.2s ease;
  transition: opacity 0.2s ease, color 0.2s ease;
  opacity: 0.7;
}

.mobNav-slide a:hover, .mobNav-prev:hover {
  opacity: 1;
}

.mobNav-prev {
  margin-bottom: 20px;
  cursor: pointer;
  display: inline-block;
  padding: 0px 10px;
  margin-left: -10px;
  line-height: 25px;
  background: rgba(0, 0, 0, 0.13);
}

.js-mobNav-left {
  right: 300px;
}

.js-mobNav-right {
  right: -300px;
}

.js-mobNav-slideIn {
  right: 0;
}

/**
 * Footer Styles   .footer, footer-navigation, .copyright etc
*/

footer {
  background-color: #fcfcfc;
  padding-bottom: 15px;
}

.footer-row {
  margin-top: 120px;
}

.footer-copyright {
  height: 30px; /** vert center **/
  line-height: 30px; /** vert center **/
  display: inline-block;
}

.footer-social {
  height: 30px; /** vert center **/
  line-height: 30px; /** vert center **/
  display: inline-block;
  float: right;
}

@media (max-width: 690px) {
  .footer-row {
    margin-top: 110px;
  }

  .footer-copyright {
    display: block;
  }

  .footer-social {
    display: block;
    float: none;
    margin-top: 19px;
  }
}

.fa-twitter,
.fa-facebook-f {
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  color: #0a0a0a;
}

.fa-twitter {
  padding-right: 15px;
}

.fa-twitter:hover,
.fa-facebook-f:hover {
  color: #fff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
}

/* =====================================
  PAGE STYLES   e.g. If we have Aerobics classes. Styles for the Classes.
===================================== */

/**
*  Landing Styles
*/

.landing-hero {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
  margin: 0 auto;
  margin-bottom: 70px;
}

@media (max-width: 1000px) {
  .landing-hero {
    height: 200px;
    padding-bottom: 0;
    width: calc(100% - 26px);
  }
}

@media (max-width: 690px) {
  .landing-hero {
    width: 92.46%;
  }
}

.landing-imgWrap {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  /* Start Animation */
  opacity: 0;
  animation-name: changeImg;
  animation-duration: 25.2s;
  animation-iteration-count: infinite;
}

.landing-imgWrap1 {
  background-image: url(../img/hero-gallery1.jpg);
}

.landing-imgWrap2 {
  background-image: url(../img/hero-gallery2.jpg);
  animation-delay: 4.2s;
}

.landing-imgWrap3 {
  background-image: url(../img/hero-gallery3.jpg);
  animation-delay: 8.4s;
}

.landing-imgWrap4 {
  background-image: url(../img/hero-gallery4.jpg);
  animation-delay: 12.6s;
}

.landing-imgWrap5 {
  background-image: url(../img/hero-gallery5.jpg);
  animation-delay: 16.8s;
}

.landing-imgWrap6 {
  background-image: url(../img/hero-gallery6.jpg);
  animation-delay: 21s;
}

@keyframes changeImg {
  0% {opacity: 0;}
  2.8% {opacity: 1;}
  16.7% {opacity: 1;}
  19.5% {opacity: 0;}
  100% {opacity: 0;}
} /* End Animation */

.landing-main {
  text-align: center;
  margin-bottom: 42px;
}

.landing-a:hover {
  color: #414141;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
}

/**
*  Works Styles
*/



/**
 *  Mfp-Lightbox Styles
 */

.mfp-title {
  font-family: 'Open Sans';
  font-size: 12px;
}

img.mfp-img {
  padding: 55px 0px 55px;
}

.mfp-figure:after {
  top: 55px;
  bottom: 55px;
}

.mfp-bottom-bar {
  margin-top: -40px;
}

.mfp-container {
  padding: 0px 20px;
}

.mfp-figure:after {
  box-shadow: none;
}

/**
 *  Mfp-Lightbox Transitions between Slides.
 */

.mfp-ready .mfp-figure {
 opacity: 0;
}

.mfp-zoom-in {
 /* start state */
 /* animate in */
 /* animate out */
}
/* Image in*/
.mfp-zoom-in .mfp-figure, .mfp-zoom-in .mfp-iframe-holder .mfp-iframe-scaler{
   opacity: .8;
   -webkit-transition: all 0.2s ease-out;
   transition: all 0.2s ease-out;
   -webkit-transform: scale(0.9);
   -ms-transform: scale(0.9);
   transform: scale(0.9);
}
/* Background in*/
.mfp-zoom-in.mfp-bg,
.mfp-zoom-in .mfp-preloader {
 opacity: .6;
 -webkit-transition: all 0.2s ease-out;
 transition: all 0.2s ease-out;
}
/* Image when displaying images*/
.mfp-zoom-in.mfp-image-loaded .mfp-figure, .mfp-zoom-in.mfp-ready .mfp-iframe-holder .mfp-iframe-scaler{
   opacity: 1;
   -webkit-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
}
/* Background when displaying images*/
.mfp-zoom-in.mfp-ready.mfp-bg,
.mfp-zoom-in.mfp-ready .mfp-preloader {
   opacity: 0.8;
}
/* Image out (when closing lightbox) */
.mfp-zoom-in.mfp-removing .mfp-figure, .mfp-zoom-in.mfp-removing .mfp-iframe-holder .mfp-iframe-scaler{
   -webkit-transform: scale(0.9);
   -ms-transform: scale(0.9);
   transform: scale(0.9);
   opacity: 0;
}
/* Background out */
.mfp-zoom-in.mfp-removing.mfp-bg,
.mfp-zoom-in.mfp-removing .mfp-preloader {
   opacity: 0;
}

.mfp-iframe-scaler{ overflow: visible; /*so the close button is shown*/}
.mfp-zoom-out-cur { cursor: auto; }

 /**
  *  IcoMoon icon implementatio in Mfp-Lightbox.
  */

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?4ik9sj');
  src:  url('../fonts/icomoon.eot?4ik9sj#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?4ik9sj') format('truetype'),
    url('../fonts/icomoon.woff?4ik9sj') format('woff'),
    url('../fonts/icomoon.svg?4ik9sj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.mfp-close {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* line-height: 1; */

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mfp-close:before {
  content: "\e901";
}

/* Cutom IcoMoon Styling for Close Button */

.mfp-close:before {
  font-size: 22px;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
    padding-right: 0px;
    width: auto;
    /* Transitions */
    transition: all 0.47s cubic-bezier(0.3, 1, 0.3, 0.95) 0s;
    -webkit-transition: all 0.47s cubic-bezier(0.3, 1, 0.3, 0.95) 0s;
}

.mfp-close {
  font-size: 100%;
  line-height: 22px;
  width: 22px;
  height: 22px;
  margin-top: 20px;
  padding: 0px;
  top: 0px;
}
/* Rotation of Closing X */
.mfp-close:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

/**
*  Contact Styles
*/

.contact-intro-container {
  margin-top: 84px;
}

.contact-intro-text-wrap {
  text-align: left;
}

.contact-intro-text-wrap h2 { /* TODO: Include in Typography */
  padding: 0px; /* TODO: Include in reset not here. */
  margin: 0px; /* TODO: Include in reset not here. */
  color: #444444;
  font-size: 34px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 44px;
  margin: 0px 0px 7px;
  text-transform: uppercase;
}

.contact-address { /* TODO: Same as .contact-hours-text-wrap p. */
  color: #676767;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}

.contact-address a { /* TODO: Move to Typography ?? */
  color: #555555;
}

.contact-intro-img-wrap {
  height: 300px;
}

.contact-main-container {
  margin-top: 118px;
  margin-bottom: 57px;
}

.contact-hours-text-wrap h2 { /* TODO: Include in Typography */
  padding: 0px; /* TODO: Include in reset not here. */
  margin: 0px; /* TODO: Include in reset not here. */
  color: #444444;
  font-size: 34px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 44px;
  margin: 0px 0px 10px;
  text-transform: uppercase;
}

.contact-hours-text-wrap p { /* TODO: Same as .contact-address */
  color: #676767;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}

/**
*  Design Styles
*/

.design-main-container {
  margin: 130px 0px 32px;
}

/**
*  Exhibitions Styles
*/

.exhibitions-main-container {
  margin: 120px 0px 32px;
}

.exhibitions-main-container h2 {  /* TODO: Move to Typography and check other h2. */
  color: #444444;
  text-transform: uppercase;
  margin-top: 25px;
}
